-r requirements-rust.txt
python-dateutil==2.9.0.post0
numba==0.59.1
pandas==2.2.2
numpy==1.26.4
ccxt==4.5.22
hjson==3.0.2
prettytable==3.11.0
sortedcontainers==2.4.0
portalocker==3.2.0
tqdm==4.66.5
openpyxl==3.1.5

