matplotlib==3.8.4
colorama==0.4.6
pyecharts==1.9.1
deap==1.4.3
pymoo==0.6.1.6
aiohttp==3.13.1
websockets==12.0
msgpack==1.1.0
plotly==6.0.1
dash==2.18.2
dash-bootstrap-components==1.6.0
psutil==5.9.8
requests==2.32.3
dictdiffer==0.9.0
pymoo==0.6.1.6
